/* Estilos Gerais */
html {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  padding: 0;
  background-image: url("aa.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-bar,
.bottom-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-bottom: 1px solid black;
  height: 70px;
  padding: 4 50px;
}

.top-bar h1,
.bubble,
.button a {
  color: orange;
}

/* Estilos para Logo */
.logo h1 {
  font-size: 100x;
  margin: 0;
  padding: 10px;
  background-color: #333;
  border-radius: 80%;
  display: inline-block;
}

.content img {
  max-height: calc(100vh - 80px);
  width: auto;
}

/* ... (seus estilos anteriores) */

/* Estilos para Botões */
.button {
  display: inline-block;
  margin: 60px;
  background-color: black;
  padding: 15px 50px;
  border-radius: 10px;
  border: 1px solid #333; /* Adiciona a borda preta */
}

.button a {
  text-decoration: none;
  color: white;
}

/* Estilos ao passar o mouse sobre os botões */
.button a:hover {
  background-color: black;
  color: #fff;
}
